@font-face {
    font-family: 'configCondensed';
    src: url('https://cdn.capmotion.io/commons/fonts/ConfigCondensed-Regular/ConfigCondensed-Light.woff2')
        format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'configCondensed';
    src: url('https://cdn.capmotion.io/commons/fonts/ConfigCondensed-Regular/ConfigCondensed-Medium.woff2')
        format('woff2');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'configCondensed';
    src: url('https://cdn.capmotion.io/commons/fonts/ConfigCondensed-Regular/ConfigCondensed-Bold.woff2')
        format('woff2');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'formaDJRMicro';
    src: url('https://cdn.capmotion.io/commons/fonts/FormaDJRMicro-Regular/FormaDJRMicro-Regular.woff2')
        format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'formaDJRMicro';
    src: url('https://cdn.capmotion.io/commons/fonts/FormaDJRMicro-Regular/FormaDJRMicro-Medium.woff2')
        format('woff2');
    font-weight: 500;
    font-style: normal;
}
